@model IEnumerable<SalesWebService.Models.Managers.ManagersIndexViewModel>

<table width="50%">
    <thead>
        <tr>
            <td><h4 class="text-info">Name</h4></td>
            <td><h4 class="text-info">SecondName</h4></td>
            <td><h4 class="text-info">CountBuyers</h4></td>
            <td> </td>
            <td> </td>

        </tr>
    </thead>
    <tbody>
        @foreach (var manager in Model)
        {
        <tr>
            <td>@manager.Manager.Name</td>
            <td align="center">@manager.Manager.SecondName</td>
            <td align="center" width="20%">@manager.CountBuyers</td>
            <td>
                <a class="btn btn-light" asp-controller="Managers" asp-action="Edit" asp-route-id="@manager.Manager.Id">Edit</a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@manager.Manager.Id" method="post">
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
<a style="margin-bottom:10px" class="btn btn-light" asp-controller="Managers" asp-action="Create">Add Manager</a>

