@model IEnumerable<SalesWebService.Models.Products.ProductsIndexViewModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

<table width="50%">
    <thead>
        <tr>
            <td><h4 class="text-info">Name</h4></td>
            <td><h4 class="text-info">Cost</h4></td>
            <td><h4 class="text-info">CountBuyers</h4></td>
            <td> </td>
            <td> </td>

        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Product.Name</td>
                <td align="center">@product.Product.Cost</td>
                <td align="center" width="20%">@product.CountBuyers</td>
                <td>
                    <a class="btn btn-light" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Product.Id">Edit</a>
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@product.Product.Id" method="post">
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a style="margin-bottom:10px" class="btn btn-light" asp-controller="Products" asp-action="Create">Add product</a>

@if (Model is IPagedList)
{
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
}

